@media screen and(min-width:300px){
  .menu_title_container>h1{
    font-size: 70px;
    justify-content: center;
  }
}
@media (max-width: 770px){
  .menu_title_container>h1{
    font-size: 50px;
    justify-content: center;
  }
}

